include /blog-mixins

+page('life')
  main
    header
      +nav()(index, horizontal)
      h1 Life Reflections
    section#intro
      p.
        Death, Taxes, and the Humiliation of Remembering your Youth.
  script(src='/js/main.js')
