html
  head
    title Fluffywaffles
    link(href='./main.css', type='text/css', rel='stylesheet')
  body
    .fluffywaffles-big-header
      .fluffywaffles-logo
      svg#melt-svg
    script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
    script(src='./main.js')
