html
  head
    title Fluffywaffles
    link(href='./main.css', type='text/css', rel='stylesheet')
  body
    header
      h1 fluffywaffles
      section.fluffywaffles-logo
        object.logo
        svg.drip-animation
    script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
    script(src='./main.js')
