// Font & layout variables (only works w/ mononoki)
// HACK(jordan): this ratio is bullshitted by trial-and-error
font-size = 16px
character-height-width-ratio = (11.25/20)
content-offset-characters = 13

h1-font-size = font-size * 1.66
h2-font-size = font-size * 1.33
// NOTE(jordan): there is no h3. Don't ask about 4, 5, and 6.

h1-character-width = character-height-width-ratio * h1-font-size
body-character-width = character-height-width-ratio * font-size
body-text-color = #abb2bf
main-background-color = #282c34
body-background-color = lighten(main-background-color, 10%)

content-max-width = body-character-width * 45
content-left-space = "calc(50% - (%s * %s))" % (h1-character-width content-offset-characters)
content-overlay-margin = 50px

.fit-content
  width content-max-width

.content
  @extend .fit-content
  margin-left content-left-space

img.overlay-content
  overlay-width = content-max-width + (content-overlay-margin * 2)
  width overlay-width
  position relative
  left -1 * content-overlay-margin
  transition width 0.5s ease, left 0.5s ease, top 0.5s ease

img.sink
  width content-max-width - 10px
  border 20px solid body-background-color

dl
  dd
    margin-top 10px
  dd + dt
    margin-top 20px

h1
  font-size h1-font-size
h2
  font-size h2-font-size
h3
  font-size font-size

a
  color lighten(body-text-color, 10%)

// Logo variables
logo-width = 200px
logo-height = 150px
// HACK(jordan): these offsets are hard-coded
logo-drip-offset-x = 20px
logo-drip-offset-y = 40px
logo-height-with-drips = logo-height * 2 - logo-drip-offset-y

@font-face
  font-family "mononoki"
  src url('/fonts/mononoki-Regular.woff2'), url('/fonts/mononoki-Regular.woff'), url('/fonts/mononoki-Regular.eot'), url('/fonts/mononoki-Regular.ttf')

*
  box-sizing border-box

html, body
  margin 0
  min-height 100%
  background body-background-color
  font-family mononoki, monospace
  color body-text-color
  font-size font-size

body
  overflow-y scroll

main
  background main-background-color
  width 100%
  min-height 100%
  padding-bottom 200px
  section#intro, section#outro
    p, li
      @extend .fit-content

header
  background body-background-color
  justify-content center
  flex-wrap wrap
  .fluffywaffles-logo
    left calc(50% - 100px)
    margin-top 50px
  h1
    padding 5px 0
    padding-left content-left-space
    font-size h1-font-size
    margin 0
    flex 1 0 100%
    background #2c323c
    position relative
    &::before
      content ''
      overflow hidden
      position absolute
      font-size @font-size
      top 0
      left 0
      width "calc(50% - (%s * (%s + 1.5)))" % (h1-character-width content-offset-characters)
      height 100%
      background #50545a

li-bullet-space = 10px
li-spacing = 20px
li-line-height = 14px + li-spacing

section
  @extend .content

nav.inline
  margin-left content-left-space
  width content-max-width

.panel
  padding 50px 20px
  background lighten(body-background-color, 10%)

nav
  padding 10px
  margin-left 0
  &[horizontal]
    padding 0
  a
    text-decoration none
    color inherit

// NOTE(jordan): only supports sublists 1 level deep
ul.collapsible-tree
  &[horizontal]
    display flex
    flex-wrap wrap
    li, a
      flex 1 0 300px
      position relative
      ul
        position absolute
        background lighten(body-background-color, 10%)
        padding-right 20px
        // TODO(jordan): generalize
        &.z-3
          z-index 3
        &.z-2
          z-index 2
        &.z-1
          z-index 1
  ul
    overflow hidden
    height 0
    transition height ease 350ms
  li, a > li
    color body-text-color
    cursor pointer
    &::before
      content '-'
    &.collapse-1, &.collapse-2, &.collapse-3
      &::before
        content '+'
    &.open::before
      content '-'
    &:hover
      color #fff
    &.collapse-0::before
      content '<'

  & > li.open, & > a > li.open
    & > ul > li::before, & > ul > a > li::before
      content '-'
    &.collapse-1 > ul
      height (li-line-height) * 1
    &.collapse-2 > ul
      height (li-line-height) * 2
    &.collapse-3 > ul
      height (li-line-height) * 3


ul
  margin 0
  padding 0
  list-style-type none
  li
    margin 0
    padding 0
    line-height li-line-height
    padding-left li-bullet-space
    &::before
      content ''
      position relative
      left -1 * li-bullet-space
    & > ul
      margin-left 0
      padding-left 25px

waffle_yellow=#ffff00
waffle_dip=#ffe600
waffle_edge=#ffd200
waffle_font=#ffbe00

.fluffywaffles-logo
  width logo-width
  height logo-height-with-drips
  position relative

  object.logo
    background url('./images/fluffywaffles-notext-lt.png')
    background-size contain
    background-repeat no-repeat
    position relative
    z-index 2
    height logo-height

  svg.drip-animation
    width 100%
    height logo-height
    position absolute
    z-index 1
    left logo-drip-offset-x
    top logo-height - logo-drip-offset-y

header > h1.blinking-cursor::after
  content ''
  position absolute
  top 0
  left "calc(50% + (%s * (13 - (%s - 1.5))))" % (h1-character-width content-offset-characters)
  width h1-character-width - 1px
  height 100%
  display block
  background white
  animation blink 0.8s infinite alternate

@keyframes blink
  0%
    opacity 1.0
  40%
    opacity 1.0
  60%
    opacity 0.0
  100%
    opacity 0.0

