html, body
  margin 0 auto
  height 100%
  width 100%

waffle_yellow=#ffff00
waffle_dip=#ffe600
waffle_edge=#ffd200
waffle_font=#ffbe00

.fluffywaffles-big-header
  background yellow
  height 100%

  svg
    width 100%
    height 100%
    position absolute
    top 0

  .fluffywaffles-logo
    background url('./fluffywaffles-notext-lt.png')
    background-size contain
    background-repeat no-repeat
    width 200px
    height 150px
    position absolute
    z-index 1
    top calc(50% - 100px)
    left calc(50% - 100px)
