html, body
  margin 0 auto
  min-height 100%

header
  padding-top 50px
  height 265px // HACK(jordan): womp womp
  display flex
  justify-content center

waffle_yellow=#ffff00
waffle_dip=#ffe600
waffle_edge=#ffd200
waffle_font=#ffbe00

section.fluffywaffles-logo
  width 200px
  height 150px
  position relative

  object.logo
    background url('./fluffywaffles-notext-lt.png')
    background-size contain
    background-repeat no-repeat
    position relative
    z-index 2
    width 100%
    height 100%

  svg.drip-animation
    width 100%
    height 100%
    position absolute
    z-index 1
    left 20px
    top 75%
