include /blog-mixins

+page('log: 2019-10-05')
  main
    header
      +nav()(index, horizontal)
      h1 I accidentally paid $15 for a large bubble tea
    section#intro
      figure
        img.sink(src='/images/20191005.jpg')
      figcaption Broadway.
      p.
        Today, I paid $15 for bubble tea by accident, went to the New York
        public library for the first time, and wrote a poem. Perhaps you'd
        like the poem:
      .panel
        p Stepping out of a shadow, the sun is warmer 
        p long ponytail swaying at each step on a 
        p sidewalk I am misremembering 
        p churches stare up into the faces of skyscrapers 
        p passing under scaffolding
        p I shiver in the dancing breeze
        p summer in New York is ending.
      p.
        ...
      p.
        ...
      p.
        ...
      p.
        Okay. I guess I'll tell you how it was I ended up paying $15 for
        bubble tea. One bubble tea. Without bubbles. (They were out.)
      p.
        I told the girl at the register to "keep the change," when I
        meant: "keep the coins." I don't like to carry quarters and
        nickels and dimes. You can see where this is going. I gave her a
        $20 bill. Realizing I misspoke, I immediately thought: "oh, shit."
        Things seemed to happen pretty fast, and for the moment I was
        dumbfounded at my own stupidity. I froze. The total was only
        $5.72. I won't be forgetting that number for a while.
      p.
        I said this was a "$15 bubble tea." The price of the tea (after
        tax) was $5.72. So if I gave her $20 and said "keep the change,"
        then I should have paid $20 for that bubble tea, right? Not $15.
        $20. Just to reiterate: I handed her a $20 bill. I said "keep the
        change." I did not correct myself, or say anything further. So,
        where's the remaining $4.28?
      p.
        This is the strange part. The girl at the register gives me a
        nervous look, says "thanks!", and then proceeds to give me change
        as if I had paid with a $10 bill.
      p.
        So, in a sense: I saved a little over $4 on that Boba, didn't I? ;)
  script(src='/js/main.js')
