include /blog-mixins

+page('log: 2019-10-05')
  main
    header
      +nav()(index, horizontal)
      h1 I accidentally paid $15 for a large bubble tea
    section#intro
      p.
        But then I wrote this poem, so perhaps the day was OK after all.
      .panel
        p Stepping out of a shadow, the sun is warmer 
        p long ponytail swaying at each step on a 
        p sidewalk I am misremembering 
        p churches stare up into the faces of skyscrapers 
        p passing under scaffolding
        p I shiver in the dancing breeze
        p summer in New York is ending.
      p.
        Okay. I told the girl at the register to "keep the change," when I
        meant: "keep the coins." I don't like to carry quarters and
        nickels and dimes. I paid with a $20 bill. I immediately thought:
        "oh, shit." But I froze. What happened next, was because of my
        inaction.
      p.
        You may realize, though: if I gave her $20, then I should have
        paid $20 for that bubble tea, right? I wasn't about to say
        anything. The bill was only supposed to be $5.72. (I won't forget
        that number for a while.) I handed over $20 and said: "keep the
        change."
      p.
        Now for the strange part. The girl at the register gives me a
        nervous look, says "thanks!", and then proceeds to give me change
        as if I had paid with a $10 bill.
      p.
        So, in a sense: I saved $5 on that Boba, didn't I? ;)
  script(src='/js/main.js')
