include /blog-mixins

+page('log: 2019-10-09')
  main
    header
      +nav()(index, horizontal)
      h1 2019-10-09: untitled poem
    section#content
      section.panel.poem
        p smells so sweet - fait accompli!
        p your heart is mine at three hundred degrees
        p don't suffer now, the meal's complete
        p sharp forks and knives and napkins neat
        p good evening, dear, you're ready to eat.
