include /blog-mixins

+page('log: index')
  main
    header
      +nav()(index, horizontal)
      h1 Words > Index
    section#content
      ul
        li
          a(href='./20191009.html') 2019-10-09: untitled poem
        li
          a(href='./20191005.html') 2019-10-05: $15 boba
