include /blog-mixins

+page('code')
  main
    header
      +nav()(index, horizontal)
      h1 Words > Computers
    section#content
      ul
        li
          a(href='./20210130.html').
            2021-01-30: Everything New is Broken Again
        li
          a(href='./20210131.html').
            2021-01-31: Metadata, Markup, Sigils and Tags, oh my!
