mixin page(title)
  html
    head
      title=title
      link(href='/styles/main.css', type='text/css', rel='stylesheet')
      meta(name='viewport', content='width=device-width,initial-scale=1')
    body&attributes(attributes)
      block
      script(src='/js/main.js', type='text/javascript')

mixin nav()
  nav&attributes(attributes)
    ul
      li
        ul.collapsible-tree(horizontal=attributes.horizontal)
          if attributes.index
            li.collapse-0
              a(href='/') index
          li.collapse-3
            a(data-button-link) words
              ul.z-3
                li
                  a(href='/words/log/20191009.html')
                    | 2019-10-09: untitled poem
                li
                  a(href='/words/log/20191005.html')
                    | 2019-10-05: $15 for boba
                li
                  a(href='/words/log/index.html')
                    | all words
          li.collapse-4
            a(data-button-link) projects
              ul.z-2
                li
                  a(href='/projects/pug-cli/index.html') pug-cli
                li
                  a(href='/projects/this-site/index.html') this site
                li
                  a(href='/projects/gist.zsh/index.html') gist.zsh
