mixin page(title)
  html
    head
      title=title
      link(href='/main.css', type='text/css', rel='stylesheet')
      meta(name='viewport', content='width=device-width,initial-scale=1')
    body&attributes(attributes)
      block

mixin nav()
  nav&attributes(attributes)
    ul
      li
        ul.collapsible-tree(horizontal=attributes.horizontal)
          if attributes.index
            li.collapse-0
              a(href='/') index
          li.collapse-4
            a(data-button-link) words
              ul.z-3
                li
                  a(href='/words/log/20191005.html')
                    | 2019-10-05: $15 for boba
                li
                  a(href='/words/code') code [coming soon]
                li
                  a(href='/words/life') life [coming soon]
                li
                  a(href='/words/art') "art" [coming soon]
          li.collapse-4
            a(data-button-link) projects
              ul.z-2
                li
                  a(href='/projects/this-site') this site
                li
                  a(href='/projects/gist.zsh') gist.zsh
                li
                  a(href='#') prettybad [coming soon]
                li
                  a(href='#') sisyphus [coming soon]
          li.collapse-1
            a(data-button-link) sounds
              ul.z-1
                li
                  a(href='/sounds/crooning') crooning
          // li experiments
          //   ul
          //     li "quips"
