include blog-mixins

+page('fluffywaffles').index
  main
    header
      .fluffywaffles-logo
        .logo
        svg.drip-animation
      h1.main-title fluffywaffles
    section#intro
      p.
        Also known offline as Jordan Timmerman. You can find me on
        <a href="https://www.github.com/fluffywaffles">github</a>
        or <a href="https://discord.gg/5XQGqu3">discord</a>, or you
        can <a href="mailto:messenger-pigeon@fluffywaffles.com">email
        me</a>.
      p.
        Below, you'll find links to some things I've written, some
        sounds I've made, and some projects I'm working on.
    section#navigation
      +nav().panel(no-index)
    section#outro
      p.
        Some years ago, I published things on
        <a href="https://medium.com/@Skorlir">Medium</a>. I stopped
        doing that. From now on, it will all go here.
      p.
        The source code for this website is available on
        <a href="https://www.github.com/fluffywaffles/fluffywaffles">
        github</a>.
  script(src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
  script(src='/js/main.js')
