include /blog-mixins

+page('art')
  main
    header
      +nav()(index, horizontal)
      h1 Words that might be "art"
    section#intro
      p.
        Forsooth, sweet sisyphus, for rolling up thine hill should
        purity thy find! The purest art is what repeats: it is laborious
        reenactment: it is obsession: it is hopelessness under the
        heavy burden of what must be said and shown and done.
      p.
        Congratulations, you just read a whole paragraph of bullshit. :)
  script(src='/main.js')
