@font-face
  font-family "mononoki"
  font-style normal
  font-weight normal
  src url('/fonts/mononoki-Regular.woff2'),
      url('/fonts/mononoki-Regular.woff'),
      url('/fonts/mononoki-Regular.eot'),
      url('/fonts/mononoki-Regular.ttf')

@font-face
  font-family "mononoki"
  font-style italic
  font-weight normal
  src url('/fonts/mononoki-Italic.woff2'),
      url('/fonts/mononoki-Italic.woff'),
      url('/fonts/mononoki-Italic.eot'),
      url('/fonts/mononoki-Italic.ttf')

@font-face
  font-family "mononoki"
  font-style normal
  font-weight bold
  src url('/fonts/mononoki-Bold.woff2'),
      url('/fonts/mononoki-Bold.woff'),
      url('/fonts/mononoki-Bold.eot'),
      url('/fonts/mononoki-Bold.ttf')

@font-face
  font-family "mononoki"
  font-style italic
  font-weight bold
  src url('/fonts/mononoki-BoldItalic.woff2'),
      url('/fonts/mononoki-BoldItalic.woff'),
      url('/fonts/mononoki-BoldItalic.eot'),
      url('/fonts/mononoki-BoldItalic.ttf')
