include /blog-mixins

+page('projects: this site')
  main
    header
      +nav()(index, horizontal)
      h1 Projects > This Site
    section#intro
      h2 History of the Blog
      p.
        It's been a while. I began a blog during my freshman year of
        college, in 201<s>3</s> <b>4</b>. It was called projectblog.me
        &emdash; and yes, that was its URL. My registration has long since
        expired, but the projectblog.me archive has been reuploaded for
        posterity (and humility) here:
      p
        a(href='/projects/this-site/projectblog.me/projectblog.me')
          | fluffywaffles.io/projects/this-site/projectblog.me
        abbr(title='... I just went back and looked at it, and it\'s embarrassing. Enjoy!')
          | *
      p.
        During the life of projectblog.me, it was also used to host
        projects written in HTML/CSS/JavaScript. You can almost see the
        beginnings of greatness here... (If you endure the cringing.)
      ul.inset
        li Old Projects
        li
          a(href='/projects/this-site/projectblog.me/do.projectblog.me/3dform/v5')
            | 3D Form Concept for EPIC (student group)
          abbr(title='^^ Your password has to be abc123!!!!! or something annoying for it to work.')
            | *
        li
          a(href='/projects/this-site/projectblog.me/do.projectblog.me/adamdevine')
            | Some kind of promotional page for Adam Devine?
        li
          a(href='/projects/this-site/projectblog.me/do.projectblog.me/reiterate')
            | Old (old) EPIC website redesign (ca. Dec. 2014?)
        li
          a(href='/projects/this-site/projectblog.me/do.projectblog.me/roadrunner')
            | Roadrunner Computers website (old 1st draft; paid work)
        li
          a(href='http://roadrunnercomputers.com/') roadrunnercomputers.com
          |  < The final version is still up, too
      p.
        It was remarkably hard to recover all those projects! A few of
        them contained links to assets that I had to find on The Wayback
        Machine and download. (I'm a little surprised they were even
        indexed; but hey! That's what the Wayback Machine is for. Ever
        wonder
        <a href='http://web.archive.org/web/20021215224335/http://gcv.mms.com:80/us/mmMapTally.html'>
        what percentage of votes the purple M&M got in the great M&M
        Global Color Vote of 2002</a>?)
      p.
        After a short time, I started to feel like projectblog.me was a
        couple of things, and none of them what I wanted. It:
      ol
        li Had a weird, sort-of childish name
        li Was basically a diary, and I felt insecure about it
        li Was really limited (just HTML and some CSS)
        li Was costing me money to host with Dreamhost
        li Was... not really being read by anyone
      p.
        I wanted to build something new, something I would be more proud
        of, something that, maybe, would impress somebody! I was in
        college, so I figured my website was going to get me a job. That
        became the plan: a great, big, impressive, job-getting website.
        For bragging. Seems like a good idea, right? Definitely won't be
        embarrassing later, like that silly projectblog.me thing I did.
      h2 History of fluffwaffles.io
      p.
        The original plans for fluffywaffles.io date back to the summer
        after my Sophomore year in college. Projectblog.me had ended
        ended up being very short-lived, and I wanted to recreate it - but
        <s>better</s> bragger. In a short-lived spurt of motivation, I created the waffle
        logo you see on the homepage. I never got around to actually
        creating the website, though. The original logo had text overlaid,
        like so:
      img.sink(
        src='/images/fluffywaffles.png',
        style='background-color: #ffff99; padding: 20px;',
      )
      p.
        At the time, my personal site was not my only project. I was
        attending a Summer Start-up Incubator at school, working on a
        website editing tool called <a href='/projects/fiddlenaut'>
        fiddlenaut</a>.
      img.sink(
        src='/images/fiddlenaut-logo.png',
        style='background-color: #2f2f2f; padding: 20px 20px 0 20px;',
      )
      p.
        Fiddlenaut was building a website editor, which was called
        <a href='/projects/fiddlenaut/fool'>fool</a>. A lot of my time
        during this period was not, however, taken up building fool: it
        was taken up by my discovery of
        <a href='https://www.youtube.com/watch?v=d9Gu1PspA3Y'>
        Borderlands 3</a>, which I would... erm... leave work
        <em>early</em> to play alone in my apartment.
      p.
        It was a weird summer.
      p.
        But when I <em>was</em> being productive, I created a lot of
        assets. Nearly everything on the fiddlenaut and fool pages, I
        created myself. At the time, I seemed to fancy myself a designer
        or something. I still haven't quite learned my lesson.
      p.
        I've reuploaded all of the fiddlenaut and fool webpages for
        posterity, just like projectblog.me. Note that none of the implied
        functionality on these pages is enabled. (Some of it was, however,
        implemented. Maybe I'll put it on GitHub later.)
      ul
        li
          a(href='/projects/fiddlenaut')
            | fluffywaffles.io/projects/fiddlenaut
        li
          a(href='/projects/fiddlenaut/fool')
            | fluffywaffles.io/projects/fiddlenaut/fool
      p.
        The remainder of this post is TODO. (Womp womp.)
  script(src='/js/main.js')
