include /blog-mixins

+page('projects: this site')
  main
    header
      +nav()(index, horizontal)
      h1 Projects > This Site
    section#intro
      h2 Projectblog.me
      p.
        It's been a while. I began a blog during my freshman year of
        college, in 201<s>3</s><b>4</b>. It was called projectblog.me
        &mdash; and yes, that was its URL. My domain registration expired
        long ago, but the projectblog.me archive has been reuploaded for
        posterity (and humility) here:
      ul
        li
          a(href='/projects/this-site/projectblog.me/projectblog.me')
            | fluffywaffles.io/projects/this-site/projectblog.me
          abbr(title='... I just went back and looked at it, and it\'s embarrassing. Enjoy!')
            | *
      p.
        During the life of projectblog.me, it was also used to host
        projects written in HTML/CSS/JavaScript. Some of it is not bad!
      section.inset
        h3 projectblog.me Projects
        ul
          li
            a(href='/projects/this-site/projectblog.me/do.projectblog.me/3dform/v5')
              | 3D Form Concept for EPIC (student group)
          li
            a(href='/projects/this-site/projectblog.me/do.projectblog.me/adamdevine')
              | Some kind of promotional page for Adam Devine?
          li
            a(href='/projects/this-site/projectblog.me/do.projectblog.me/reiterate')
              | Old (old) EPIC website redesign (ca. Dec. 2014?)
          li
            a(href='/projects/this-site/projectblog.me/do.projectblog.me/roadrunner')
              | Roadrunner Computers website (old 1st draft; paid work)
          li
            a(href='http://roadrunnercomputers.com/') <s>roadrunnercomputers.com</s>
            |  < The final version is still up, too <i>(wait, maybe not)</i>
      p.
        It was remarkably hard to recover all those projects! A few of
        them contained links to assets that I had to find on The Wayback
        Machine and download. (I'm a little surprised the site was even
        indexed; but hey! That's what the Wayback Machine is for. Ever
        wonder
        <a href='http://web.archive.org/web/20021215224335/http://gcv.mms.com:80/us/mmMapTally.html'>
        what percentage of votes the purple M&M got in the great M&M
        Global Color Vote of 2002</a>?)
      p.
        I didn't like projectblog.me very much. So, before long, I wanted
        to build something new; something I would be more proud of;
        something that, maybe, would impress somebody! I was in college,
        so I figured my website was going to get me a job. That became the
        plan: a great, big, impressive, job-getting website... which would
        definitely not seem embarrassing later.
    section
      h2 Fiddlenaut, Fool, and just a waffle
      p.
        The plan was to build something professional to replace
        projectblog.me. Something... <s>better</s> bragger. The waffle
        logo dates from this period. But the original logo had text
        overlaid, like so:
      img.sink(
        src='/images/fluffywaffles.png',
        style='background-color: #ffffaa; padding: 20px;',
      )
      p.
        I never got around to actually finishing the website. At the time,
        I was attending a Summer Start-up Incubator at school, working on
        a little <s>project</s> "company" called
        <a href='/projects/fiddlenaut'>fiddlenaut</a>.
      img.sink(
        src='/images/fiddlenaut-logo.png',
        style='background-color: #2f2f2f; padding: 20px 20px 0 20px;',
      )
      p.
        Fiddlenaut was the "company," which was created to build a website
        editor called <a href='/projects/fiddlenaut/fool'>fool</a>. A lot
        of my time during this period was not take up building fool,
        however: it was taken up by my discovery of
        <a href='https://www.youtube.com/watch?v=5TW0wJTFLiw'>
        Borderlands 2</a>. Best-laid plans... et cetera.
      p.
        When I <em>was</em> being productive, I created a lot of assets.
        Nearly everything on the fiddlenaut and fool pages, I designed
        myself: the logos, the little planet icons, the cursive text, the
        layout and the color schemes. I still sometimes try to do design
        work. I guess I never learned my lesson.
      p.
        I've reuploaded the fiddlenaut and fool webpages for posterity,
        just like projectblog.me. The project never went past pulling off
        some demos with smoke and mirrors, but here it all is:
      ul
        li
          a(href='/projects/fiddlenaut')
            | fluffywaffles.io/projects/fiddlenaut
        li
          a(href='/projects/fiddlenaut/fool')
            | fluffywaffles.io/projects/fiddlenaut/fool
    section
      h2 Fluffywaffles.io
      p.
        Years later, I revisited the website. I taught myself snap.svg
        during a weekend hack session with a friend and added animated
        syrup droplets to the waffle logo.
      p.
        Then nothing. Fast forward another few years: I've moved to New
        York City, and fluffywaffles.io comes online for the first time.
        It takes its entire color scheme from my vim config, except for
        the waffles. So... it looks just like my text editor. :)
      p.
        It's not built with anything. Just some HTML templates and some
        CSS. Nothing flashy to get people excited about. It's just... a
        blog. Which feels appropriate.
