include /blog-mixins

+page('thoughts')
  main
    +nav()(index, horizontal)
    header
      h1 Thoughts I Thunk
    section#intro
      p.
        Welcome to the Brain Game.
  script(src='/main.js')
